* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Mansalva", cursive;
  box-sizing: border-box;
}
a {
  color: crimson;
}
.active {
  border-bottom: 3px solid moccasin;
}
.show {
  display: initial;
}
.hide {
  display: none;
}
.flex {
  flex-direction: column;
  height: 55vh;
  position: relative;
  top: 8vh;
  background-color: crimson;
  z-index: 4;
  overflow: scroll;
}

body {
  height: 100%;
}
nav {
  opacity: 1;
  height: 80px;
  width: 100%;
  position: relative;
  transition-duration: 0.3s;
  background-color: crimson;
}
#burger {
  display: none;
  transition-duration: 1.5s;
}
.scrollNav {
  background-color: moccasin;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 2;
  font-size: 22px;
}
nav div {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  align-items: center;
}
nav div h4 a {
  color: moccasin;
}
nav div li {
  padding: 15px 10px;
  margin: 3px 5px;
  font-size: 26px;
}
nav div li a {
  transition-duration: 0.2s;
  padding-left: 8px;
  margin: 8px;
  color: moccasin;
}
nav div li a:hover {
  animation-name: jiggle;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}
nav div h4 {
  margin-right: 10%;
  transition-duration: 0.3s;
}
#intro {
  height: 128vh;
  padding-top: 6%;

  background-color: moccasin;
  overflow: hidden;
}
#intro p {
  position: relative;
  padding-top: 30vh;
  margin-left: 0;
  text-align: center;
}
#intro p span {
  position: relative;
  font-size: 70px;
  color: crimson;
  margin-left: 7%;
  transition-duration: 0.3s;
}
#underline {
  position: relative;
  left: 40%;
  width: 0;
  height: 4px;
  background-color: crimson;
}
section:nth-last-of-type(even) {
  background-color: rgba(255, 228, 181, 0.5);
}
section h2 {
  color: crimson;
  margin: 3%;
  font-size: 35px;
}
section p {
  font-family: "Oxygen", sans-serif;
  font-size: 23px;
  width: 60%;
  margin: 7%;
  line-height: 1.8;
}
.focusDiv {
  background: rgb(153, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(153, 0, 0, 1) 62%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 3% auto 0.4% 0;
}
#drummingSection {
  margin-bottom: 19%;
  padding: 10vh 0;
}
#drummingSection h2 {
  margin-top: 20%;
  margin-bottom: 20%;
}
#drummingSection img {
  margin: 3% 0 1% 1%;
  width: 80%;
  max-width: 600px;
  /* box-shadow: 5px 10px 200px #555; */
}
#drummingSection p:nth-of-type(2) {
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}
#codingSection {
  display: flex;
  justify-content: center;
  padding: 15% 0;
}
#codingSection div:nth-of-type(1) {
  flex-basis: 70%;
}
#codingSection h2 {
  text-align: center;
  font-size: 55px;
  margin-bottom: 25%;
}
#codingSection div p {
  margin: 10% 7%;
  padding: 0;
  line-height: 1.4;
}
#carosel {
  height: fit-content;
  width: 40%;
  box-shadow: 8px 8px 118px crimson;
  border-radius: 8px;
  margin-right: 15px;
  align-self: center;
  /* background-color: rgba(153, 0, 0, 1); */
  background-color: #000;
}
#carosel p {
  font-family: "Indie Flower", cursive;
  color: moccasin;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 22px;
}
#carosel img {
  width: 100%;
}
#gamingSection {
  padding: 8% 5% 22%;
}
#gamingSection h2 {
  margin-bottom: 20%;
}
.gamesList {
  text-align: center;
  width: fit-content;
}
.gamesList img {
  box-shadow: 12px 2px 18px crimson;
}
#xboxList img {
  width: 20%;
}
#switchList img {
  width: 25%;
}
#outro p {
  margin-left: 20%;
  width: 70%;
}
#outro span {
  animation-name: sparkle;
  animation-duration: 11s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}
@keyframes sparkle {
  0% {
    color: crimson;
  }
  20% {
    color: #e33d8f;
  }
  40% {
    color: #c41fd8;
  }
  60% {
    color: #7227e0;
  }
  80% {
    color: #ed84a5;
  }
  100% {
    color: #d81f69;
  }
}
#finalLink {
  margin: 20% 0;
  font-size: 15px;
  text-align: center;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: moccasin;
}
footer ul {
  width: 100%;
  display: column;
  justify-content: center;
}

@media only screen and (max-width: 832px) {
  nav div li {
    display: none;
  }
  #burger {
    cursor: pointer;
    display: initial;
  }
  #codingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #codingSection p {
    font-size: 19px;
    width: 80%;
  }
  #carosel {
    display: none;
  }
  #gamingSection {
    margin-bottom: 25vh;
  }
  #gamingSection p {
    font-size: 19px;
    width: 80%;
  }
  #xboxList img {
    width: 80%;
    margin: 25px 0;
  }
  #switchList img {
    width: 80%;
    margin: 25px 0;
  }
}
