/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Mansalva", cursive;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: crimson;
}
.active {
  border-bottom: 3px solid moccasin;
}
.show {
  display: initial;
}
.hide {
  display: none;
}
.flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 55vh;
  position: relative;
  top: 8vh;
  background-color: crimson;
  z-index: 4;
  overflow: scroll;
}
html {
  overflow: hidden;
}
body {
  position: relative;
  overflow: hidden;
}
nav {
  opacity: 0;
  height: 0;
  width: 100%;
  position: relative;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: crimson;
}
#burger {
  display: none;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.scrollNav {
  background-color: moccasin;
  position: fixed;
  height: 40px;
  width: 100%;
  z-index: 2;
  font-size: 22px;
}
nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
nav div h4 {
  margin-right: 10%;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding-left: 10px;
}
nav div h4 a {
  color: moccasin;
}
nav div li {
  padding: 15px 10px;
  margin: 3px 5px;
  font-size: 26px;
}
nav div li a {
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  padding-left: 8px;
  margin: 8px;
  color: moccasin;
}
nav div li a:hover {
  -webkit-animation-name: jiggle;
  animation-name: jiggle;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.container {
  height: 200vh;
  width: 100vw;
  overflow: hidden;
}
.expandLeft,
.expandRight {
  position: absolute;
  top: 57vh;
  opacity: 0;
  height: 25vh;
  width: 50%;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: crimson;
}
.expandLeft {
  width: 30%;
  left: 30vw;
}
.expandRight {
  width: 30%;
  left: 60vw;
}
.scrolledbgRight {
  background: rgb(255, 228, 181);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(65%, rgba(255, 228, 181, 1)),
    color-stop(93%, rgba(255, 255, 255, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 228, 181, 1) 65%,
    rgba(255, 255, 255, 1) 93%
  );
  background: linear-gradient(
    to right,
    rgba(255, 228, 181, 1) 65%,
    rgba(255, 255, 255, 1) 93%
  );
}
.scrolledbgLeft {
  background: rgb(255, 228, 181);
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(65%, rgba(255, 228, 181, 1)),
    color-stop(93%, rgba(255, 255, 255, 1))
  );
  background: -o-linear-gradient(
    right,
    rgba(255, 228, 181, 1) 65%,
    rgba(255, 255, 255, 1) 93%
  );
  background: linear-gradient(
    to left,
    rgba(255, 228, 181, 1) 65%,
    rgba(255, 255, 255, 1) 93%
  );
}
.imageDiv {
  width: 100%;
  text-align: center;
}
#pic {
  opacity: 0;
  position: relative;
  top: 25vh;
  -webkit-animation-name: jiggle;
  animation-name: jiggle;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
  border: 15px solid crimson;
  border-radius: 50%;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}
@keyframes jiggle {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}
#paraDiv {
  width: 60%;
  position: relative;
  top: 55vh;
  opacity: 0;
  margin: 30px 0 30px 20%;
}
#homeH2 {
  color: crimson;
  font-size: 64px;
  margin-bottom: 80px;
}
#homeParagraph {
  font-size: 24px;
  line-height: 2;
  font-family: "Oxygen", sans-serif;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#homeParagraph a {
  -webkit-animation-name: jiggle;
  animation-name: jiggle;
}
#homeParagraph a:hover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.box {
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  font-size: 60px;
  text-align: center;
  height: 100vh;
  width: 100%;
  opacity: 0.7;
}
.box1 {
  background-color: blue;
}
.box2 {
  background-color: red;
}
.box3 {
  background-color: orange;
}
.box4 {
  background-color: purple;
}
.box5 {
  background-color: green;
}
.box6 {
  background-color: teal;
}
.box7 {
  background-color: yellow;
}
.box8 {
  background-color: magenta;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: moccasin;
}
footer ul {
  width: 100%;
  display: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 839px) {
  nav div li {
    display: none;
  }
  #burger {
    cursor: pointer;
    display: initial;
  }
  nav div h4 {
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .container {
    height: 250vh;
  }
}
